<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>245959929467-06qri722dkcr9sm12fje71o0120gaqk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245959929467-06qri722dkcr9sm12fje71o0120gaqk2</string>
	<key>API_KEY</key>
	<string>AIzaSyA1kz7Rg4x82JOQrMIjvFNZFKmwYue7RuU</string>
	<key>GCM_SENDER_ID</key>
	<string>245959929467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.codelab.FriendlyChatSwift</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-9b51a</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-9b51a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:245959929467:ios:1f8bd1d7b652f2c5</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-9b51a.firebaseio.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We want to select one of your photos</string>
</dict>
</plist>
